.product {
  border: 3px solid var(--dark-color);
  margin: 5px;
  padding: 10px;
  min-width: 200px;
  border-radius: 8px;
  transition: 300ms;
}
.product:hover {
  border-color: var(--primary-color);
  transform: translateY(-3px);
  box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.25);
}

h3 {
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
}

.cena {
  font-weight: 900;
  text-decoration: underline;
  font-size: 30px;
  padding: 0;
  margin: 5px;
}

.zobacz {
  all: unset;
}
button,
.zobacz {
  margin: 10px;
  padding: 5px 15px;
  background-color: var(--light-color);
  border-radius: 10px;
  border: 4px var(--dark-color) solid;
  cursor: pointer;
  transition: 300ms ease-out;
}

button:hover,
.zobacz:hover {
  background-color: white;
  border-color: var(--primary-color);
  transform: translateY(-3px);
  box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.5);
}

button:active,
.zobacz:active {
  transform: translateY(2px);
  border-color: var(--dark-color);
  background-color: var(--dark-color);
}

.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  border: var(--dark-color) solid 2px;
  padding: 5px;
  border-radius: 8px;
  margin: 5px;
}

.imageBox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.matIcon {
  width: 40px;
  height: 40px;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}
